/* Helper Class Start */

.m0{margin:0 !important;}
.m1{margin:10px !important;}
.m2{margin:20px !important;}
.m3{margin:30px !important;}
.m4{margin:40px !important;}
.m5{margin:50px !important;}
.mt0{margin-top:0 !important;}
.mt05{margin-top:5px !important;}
.mt1{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt2{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt3{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt4{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt5{margin-top:50px !important;}
.mt55{margin-top:55px !important;}
.mr05{margin-right:5px !important;}
.mr1{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr2{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr3{margin-right:30px !important;}
.mr35{margin-right:35px !important;}
.mr4{margin-right:40px !important;}
.mr45{margin-right:45px !important;}
.mb0{margin-bottom:0 !important;}
.mb05{margin-bottom:5px !important;}
.mb1{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb2{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb3{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb4{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb5{margin-bottom:50px !important;}
.ml05{margin-left:5px !important;}
.ml1{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml2{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml3{margin-left:30px !important;}
.ml35{margin-left:35px !important;}
.ml4{margin-left:40px !important;}
.ml45{margin-left:45px !important;}
.p05{padding:5px !important;}
.p1{padding:10px !important;}
.p15{padding:15px !important;}
.p2{padding:20px !important;}
.p25{padding:25px !important;}
.p3{padding:30px !important;}
.p35{padding:35px !important;}
.p4{padding:40px !important;}
.p45{padding:45px !important;}
.p5{padding:50px !important;}
.pt0{padding-top:5px !important;}
.pt05{padding-top:5px !important;}
.pt1{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt2{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt3{padding-top:30px !important;}
.pt35{padding-top:35px !important;}
.pt4{padding-top:40px !important;}
.pt45{padding-top:45px !important;}
.pt5{padding-top:50px !important;}
.pr0{padding-right:0 !important;}
.pr1{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr2{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr3{padding-right:30px !important;}
.pr35{padding-right:35px !important;}
.pr4{padding-right:40px !important;}
.pr45{padding-right:45px !important;}
.pr5{padding-right:50px !important;}
.pb05{padding-bottom:5px !important;}
.pb1{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb2{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb3{padding-bottom:30px !important;}
.pb35{padding-bottom:35px !important;}
.pb4{padding-bottom:40px !important;}
.pb45{padding-bottom:45px !important;}
.pb5{padding-bottom:50px !important;}
.pl0{padding-left:0 !important;}
.pl05{padding-left:5px !important;}
.pl1{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl2{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl3{padding-left:30px !important;}
.pl35{padding-left:35px !important;}
.pl4{padding-left:40px !important;}
.pl45{padding-left:45px !important;}
.pl5{padding-left:50px !important;}

.fs10{font-size:10px !important;}.fs11{font-size:11px !important;}.fs12{font-size:12px !important;}.fs13{font-size:13px !important;}.fs14{font-size:14px !important;}.fs15{font-size:15px !important;}.fs16{font-size:16px !important;}.fs17{font-size:17px !important;}.fs18{font-size:18px !important;}.fs19{font-size:19px !important;}.fs20{font-size:20px !important;}.fs21{font-size:21px !important;}.fs22{font-size:22px !important;}.fs23{font-size:23px !important;}.fs24{font-size:24px !important;}.fs25{font-size:26px !important;}.fs26{font-size:26px !important;}.fs27{font-size:27px !important;}.fs28{font-size:28px !important;}.fs29{font-size:29px !important;}.fs30{font-size:30px !important;}.fs40{font-size:40px !important;}.fbold{font-weight:700;}
.group:before,.group:after {content: "";display: table;}
.group:after {clear: both;}
.group {zoom: 1; /* For IE 6/7 (trigger hasLayout) */}
.uppercase{text-transform:uppercase;}
.nostyle ul, .nostyle ul li{list-style:none;}
.nostyle ul{padding-left:0;}
a.nostyle{text-decoration:none;}

/* Helper Class End */

/* MENU Management STYLING START */

#NNested-holder .block .block-content{
	display:none;
}

#NNested-holder .block.nested-active .block-content{
	display:block;
}

#NNested-holder .nested-childest-block{
	padding-bottom:0;
}

#NNested-holder .nested-childest-block.nested-active{
	padding-bottom:20px;
}

#NNested-holder .nested-childest-block .block-title{
	margin-bottom:0;
}

#NNested-holder .nested-childest-block .block-title.nested-active{
	margin-bottom:20px;
}

#NNested-holder li{
	list-style:none;
}

ol.sortable{
	padding-left:0;
}

ol.sortable li .nested-childest-block{
	cursor:move;
}

.ui-sortable-placeholder{
	background:none;
	border:1px dashed #CCC;
	visibility:visible !important;
}

.ui-sortable-placeholder{
	margin:0 0 20px 0 !important;
}

/* MENU Management STYLING END */

/* Menu Management Element Styling Start*/

#NNested-element-holder > .block:hover .block-title, #NNested-element-holder > .block.NNested-element-active > .block-title{
	background:#EAEDF1;
}

#NNested-element-holder > .block > form{
	display:none;
}

#NNested-element-holder > .block.NNested-element-active > form{
	display:block;
}

#NNested-element-holder > .block > .block-title{
	margin-bottom:-3px;
}

#NNested-element-holder > .block{
	margin-bottom:0;
	cursor:pointer;
}

#NNested-element-holder > .block.NNested-element-active{
	border-bottom:none;
}

#NNested-element-holder > .block.NNested-element-active .block-title{
	margin-bottom:20px;
}

#NNested-element-holder > .block:last-child{
	border-bottom:3px solid #DBE1E8;
}

/* Menu Management Element Styling End*/

.table thead > tr > th{
	font-size:14px;
}

.table thead > tr > th, .table thead > tr > td, .table tfoot > tr > th, .table tfoot > tr > td{
	padding-top:8px;
	padding-bottom:8px;
}

/* Media Gallery Style */

#mediaFaker{
	background:#333;
	height:100%;
	position:fixed;
		top:0;
		right:0;
		bottom:0;
		left:0;
	width:100%;
	z-index:1031;
}

#mediaCartridge{
	background:white;
	bottom:20px;
	left:20px;
	position:fixed;
	right:20px;
	top:20px;
	z-index:1032;
}

#mediaContaniner{
	overflow:hidden;
}

#leftMediaCartridge{
	background:#F3F3F3;
	border-right:1px solid #ddd;
	position:absolute;
	height:100%;
	left:0;
	padding:10px;
	width:200px;
}

#leftMediaCartridge ul{
	list-style:none;
	margin:0;
	padding:0;
}

#leftMediaCartridge li{
	display:block;
	float:none;
}

#leftMediaCartridge li.active a{
	font-weight:700;
}

#leftMediaCartridge li.active a, #leftMediaCartridge li:hover a{
	border-radius:0;
}

#leftMediaCartridge li a{
	display:block;
}

#leftMediaCartridge .nav-tabs{
	border-bottom:0;
}

#rightMediaCartridge{
	backgrsound:#FCFCFC;
	border-right:1px solid #FFF;
	height:100%;
	overflow:hidden;
	position:absolute;
	left:200px;
	right:0;
}

#rightMediaCartridge h1{
	margin:0;
	padding:20px;
	font-size:22px;
}

.mediaTitle{
	background:#FCFCFC;
}

.mediaContent{
	background:#FCFCFC;
}

#rightMediaCartridgeTabs{
	background:#FCFCFC;
}

#rightMediaCartridge .tab-content .tab-content{
	position: absolute;
	top: 105px;
	left: 0;
	right: 0;
	bottom: 61px;
	height: auto;
	width: auto;
	margin: 0;
	overflow: auto;
	background: #fff;
	border-bottom: 1px solid #ddd;
}

#mediaLibrary{
	overflow:hidden;
	width:100%;
	height:100%;
	position:relative;
}

#leftMediaLibraryPanelTop{
	position: absolute;
	top:0;
	right: 300px;
	left: 0;
}

#leftMediaLibraryPanelTop .chosen-container, #leftMediaLibraryPanelTop input.pull-right{
	min-width:150px !important;
	max-width:150px !important;
}

#leftMediaLibraryPanel{
	overflow: auto;
	position: absolute;
	top: 50px;
	right: 300px;
	bottom: 0;
	left: 0;
}

#leftMediaLibraryPanel ul{
	list-style:none;
	margin:0;
	padding:0;
}

#rightMediaLibraryPanel{
	background:#F3F3F3;
	border-left:1px solid #ddd;
	position:absolute;
	top:0px;
	right:0;
	bottom:0;
	width:299px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#leftMediaLibraryPanel .attachment, #leftMediaLibraryPanel .attachment-preview{
	height: 110px;
	width: 110px;
}

#leftMediaLibraryPanel .attachment{
	position: relative;
	float: left;
	padding: 0;
	margin:8px 10px;
	color: #464646;
	list-style: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	width: 110px;
}

#leftMediaLibraryPanel .attachment.selected{
	-webkit-box-shadow: 0 0 0 1px #fff,0 0 0 3px #ccc;
	-o-box-shadow: 0 0 0 1px #fff,0 0 0 3px #ccc;
	-ms-box-shadow: 0 0 0 1px #fff,0 0 0 3px #ccc;
	-moz-box-shadow: 0 0 0 1px #fff,0 0 0 3px #ccc;
	box-shadow: 0 0 0 1px #fff,0 0 0 3px #ccc;
}

#leftMediaLibraryPanel .attachment.selected.details{
	-webkit-box-shadow: 0 0 0 1px #fff,0 0 0 5px #1e8cbe;
	-o-box-shadow: 0 0 0 1px #fff,0 0 0 5px #1e8cbe;
	-ms-box-shadow: 0 0 0 1px #fff,0 0 0 5px #1e8cbe;
	-moz-box-shadow: 0 0 0 1px #fff,0 0 0 5px #1e8cbe;
	box-shadow: 0 0 0 1px #fff,0 0 0 5px #1e8cbe;
}

#leftMediaLibraryPanel .attachment-preview{
	position: relative;
	-ms-box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
	-o-box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
	box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
	background: #eee;
	cursor: pointer;
}

#leftMediaLibraryPanel .thumbnail{
	background:#ddd;
	border:0;
	border-radius:0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 110px;
	width: 110px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}


#leftMediaLibraryPanel .thumbnail:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
	-o-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
	-ms-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
	overflow: hidden;
}

#leftMediaLibraryPanel .centered{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	-o-transform: translate(50%,50%);
	-moz-transform: translate(50%,50%);
	transform: translate(50%,50%);
}

#leftMediaLibraryPanel .centered img{
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width:auto;
	max-height:110px;
}

#leftMediaLibraryPanel .attachment.selected.details .checkedAttachment{
	background-color: #1e8cbe;
	-webkit-box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe;
	-o-box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe;
	-moz-box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe;
	-ms-box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe;
	box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe;
	display:block;
	height:25px;
	position:absolute;
	top:-10px;
	right:-10px;
	width:25px;
}

#leftMediaLibraryPanel .attachment.selected .checkedAttachment{
	background: #eee;
	-webkit-box-shadow: 0 0 0 1px #fff,0 0 0 2px rgba(0,0,0,.4);
	-ms-box-shadow: 0 0 0 1px #fff,0 0 0 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 0 1px #fff,0 0 0 2px rgba(0,0,0,.4);
	-o-box-shadow: 0 0 0 1px #fff,0 0 0 2px rgba(0,0,0,.4);
	box-shadow: 0 0 0 1px #fff,0 0 0 2px rgba(0,0,0,.4);
	display:block;
	height:25px;
	position:absolute;
	top:-10px;
	right:-10px;
	width:25px;
}

#leftMediaLibraryPanel .attachment.selected.details .checkedAttachment:after, #leftMediaLibraryPanel .attachment.selected.details .checkedAttachment:hover:after{
	color:#FFF;
}

#leftMediaLibraryPanel .attachment.selected .checkedAttachment:after, #leftMediaLibraryPanel .attachment.selected .checkedAttachment:hover:after{
	color:#000;
}

.checkedAttachment{
	display:none;
}

#leftMediaLibraryPanel .attachment.selected .checkedAttachment{
	display:block;
}

.checkedAttachment:after, .removeSelectedImage:after{
	content: "\f00c";
    font-family: FontAwesome;
    font-size: 18px;
    position: absolute;
    top: 0px;
	left:4px;
}

.checkedAttachment:hover:after, .removeSelectedImage:hover:after{
	content: "\f068";
    font-family: FontAwesome;
    font-size: 18px;
    position: absolute;
    top: 0px;
	left:6px;
}

.attachment-info{
	overflow: hidden;
	min-height: 60px;
	margin-bottom: 16px;
	line-height: 18px;
	color: #666;
	border-bottom: 1px solid #ddd;
	padding-bottom: 11px;
}

.attachment-thumbnail{
	position: relative;
	float: left;
	max-width: 120px;
	max-height: 120px;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.attachment-thumbnail img{
	display: block;
	max-width: 120px;
	max-height: 120px;
	margin: 0 auto;
}

.attachment-details{
	float: left;
	font-size: 12px;
	max-width: 100%;
}

#rightMediaLibraryPanel .setting{
	display: block;
	float: left;
	width: 100%;
	margin: 1px 0;
}

#rightMediaLibraryPanel .setting span{
	float: left;
	min-height: 22px;
	padding-top: 8px;
	line-height: 16px;
	text-align: right;
	font-weight: 400;
	color: #666;
	min-width: 30%;
	margin-right: 4%;
	font-size: 12px;
}

#rightMediaLibraryPanel .setting textarea, #rightMediaLibraryPanel .setting input, #rightMediaLibraryPanel .setting select{
	margin: 1px 20px 1px 1px;
	padding:5px;
	width: 58%;
	max-width:58%;
	float: right;
}

#rightMediaLibraryPanel .setting textarea{
	min-height:60px;
}

#rightMediaCartridgeFooter{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 60px;
	z-index: 100;
}

#mediaHolderTruly{
	display:none;
}

#closeMedia{
	cursor:pointer;
	position:absolute;
	right:10px;
	top:10px;
}

.featured #leftMediaCartridge{
	display:none;
}

.featured #rightMediaCartridge{
	left:0;
}

.dropzone{
	top:0;
}

.featured-container .attachment, .gallery-container .attachment{
	position: relative;
	float: left;
	padding: 0;
	margin: 8px 10px;
	color: #464646;
	list-style: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	width: 92px;
	webkit-box-shadow: 0 0 0 1px #fff,0 0 0 5px #1e8cbe;
	-o-box-shadow: 0 0 0 1px #fff,0 0 0 5px #1e8cbe;
	-ms-box-shadow: 0 0 0 1px #fff,0 0 0 5px #1e8cbe;
	-moz-box-shadow: 0 0 0 1px #fff,0 0 0 5px #1e8cbe;
	box-shadow: 0 0 0 1px #fff,0 0 0 5px #1e8cbe;
}

.featured-container .attachment, .featured-container .attachment-preview, .gallery-container .attachment, .gallery-container .attachment-preview{
	height: 92px;
	width: 92px;
}

.featured-container .thumbnail, .gallery-container .thumbnail{
	background: #ddd;
	border: 0;
	border-radius: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 92px;
	width: 92px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}

.featured-container .centered, .gallery-container .centered{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	-o-transform: translate(50%,50%);
	-moz-transform: translate(50%,50%);
	transform: translate(50%,50%);
}

.featured-container .centered img, .gallery-container .centered img{
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: auto;
	max-height: 92px;
}

.insertUrlHolder{
	border-top:1px solid #DDD;
}


.featured-container.one-item .attachment{width:250px;margin-left:auto;margin-right:auto;float:none;margin-bottom:20px;}
.featured-container.one-item .attachment, .featured-container .attachment-preview{width:250px;height:250px;}
.featured-container.one-item .thumbnail{width:250px;height:250px;}
.featured-container.one-item .centered img{max-height:250px;}
.featured-container .removeSelectedImage, .gallery-container .removeSelectedImage{display:block;background-color: #1e8cbe;color:#FFF;-webkit-box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe;-o-box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe;-moz-box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe;-ms-box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe;box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe;display:block;height:25px;position:absolute;top:-10px;right:-10px;width:25px;}